.custom-pane {
  --background: #121212;
}

.ion-menu.custom-menu {
  --width: 280px;
  --background: transparent;
  --ion-background-color: transparent;
  color: #fff;
  box-shadow: none !important;
  background: transparent !important;
}

.menu-header {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 4px #380c03;
}

.close-icon {
  font-size: 24px;
  color: #ffffff;
}

.list {
  background: transparent;

}


.menu-content {
   --background: linear-gradient(to right, #380c03); 
  padding: 20px 16px;
}

.menu-item {
  --background: #FFF3E0;
  color: #380c03;
  border-radius: 12px;
  margin-bottom: 12px;


}

.menu-item:hover {
  transform: scale(1.05);
}

.item-icon {
  color: #380c03;
  font-size: 22px;
  margin-right: 12px;
}

ion-label {
  font-size: 16px;
  font-weight: 600;
}



