// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {


  --color-dark-bg-ioncontent: #380c03;
  --color-dark-text-card: #ffffff;
  --color-dark-title-card: #FFF3E0;
  --color-oscuro: #380c03 ;



}
