// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
  --color-claro: #c7c2c2;
  --color-oscuro: #0c0231; 
  --espaciado-base: 1rem;
  --espaciado-grande : 2rem;

  

}
