<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      Music App
    </ion-title>

     <ion-buttons slot="end">
        <ion-button (click)="cambiarColor()" class="boton-tema">
          {{ temaActual === 'claro' ? 'Modo Oscuro' : 'Modo Claro' }}
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="temaActual === 'claro' ? 'tema-claro' : 'tema-oscuro'">

  <ion-header collapse="condense" >
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container
  pagination="true"
  loop="true"
  slides-per-view="1"
 
  >

    <swiper-slide *ngFor="let genre of genres">
      <div class="slide-content">
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.image" [alt]="genre.title">
        <p>{{ genre.description }}</p>
      </div>

    </swiper-slide>
 
  </swiper-container>


</ion-content>

